<%- include("partials/header.ejs") %>
<body>

<div class="container">
    <div class="title">
        <h1>Temperature Detector</h1>
        <h2>Where do you live?</h2>
    </div>

    <div class="input-zone">

        <form id="myForm" method="post">

            <input type="text" id="cityInput" name="city">
            <input id="postCity" type="submit" value="CHECK" formaction="/post-city">
        </form>

    </div>


</div>

   
<% if(locals.tempNow){ %>
<div class="weather-forecast">
    <div class="weather-now card">
            <h3>Now</h3>
            <p>Temperature in <span class="high"><%= city %></span> is <span class="high"><%= tempNow %>°</span>.</p>
            <p><%= weatherMainNow %>.</p>
            <p>It feels like <%= feelsLikeNow %>°.</p>
    </div>  
    <div class="12hrs card">
        
            <h3>In 12 Hours:</h3>
            <p>Temperature will be <span class="high"><%= tempIn12 %>°</span>.</p>
            <p><%= weatherMainIn12 %>.</p>
            <p>It will feel like <%= feelsLikeIn12 %>°.</p>
 
    </div>
    <div class="24hrs card">
                
                    <h3>In 24 Hours:</h3>
                    <p>Temperature will be <span class="high"><%= tempIn24 %>°</span>.</p>
                    <p><%= weatherMainIn24 %>.</p>
                    <p>It will feel like <%= feelsLikeIn24 %>°.</p>
               
            </div>

        </div>
<% }%>




</body>
<%- include("partials/footer.ejs") %>